<div class="table-resonsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each businesses as |biz|}}
        {{business-list-item business=biz bizId=biz.id}}
      {{/each}}
    </tbody>
  </table>
</div>
