.fav-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: 0;
  padding: 0 1px;
  &:focus {
    outline: 0;
  }
}

.business-heading {
  padding-top: 3.5rem;
}

.geo-search {
  margin-left: auto;
}

.search-form {
  padding-bottom: 1rem;
}

.page-container {
  display: flex;
  justify-content: center;
}
