<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">SF Biz</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to 'businesses' class="nav-link"}}
            Businesses
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'favorites' class="nav-link"}}
            Favorites
          {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  {{outlet}}
</div>
