<div class="table-resonsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |f|}}
        <tr>
          <td><li class="fa fa-heart-o"></li></td>
          <td>{{f.business.name}}</td>
          <td>{{f.business.address}}</td>
          <td>{{f.business.startDate}}</td>
          <td>{{f.business.endDate}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
